language: java

addons:
  apt:
    packages:
    - graphviz

jdk:
  - oraclejdk8

before_script:
  # setup a display on linux ( the sleep gives xvfb some time to start )
  - if [ "$TRAVIS_OS_NAME" == "linux" ] ; then export DISPLAY=:99.0 ; sh -e /etc/init.d/xvfb start ; sleep 3 ; fi

script:
  #default mvn build skips javadoc.
  mvn test javadoc:javadoc -B 

cache:
  directories:
  - $HOME/.m2
